<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<div class="container pt-3">
  <h1>my first bootstrap page</h1>
  <p>This is some text.</p>
</div>
<div class="container-fluid px-3 py-4 my-3 bg-dark text-white">
  <h1>my first bootstrap page</h1>
  <p>This is some text.</p>
</div>
<div class="container-sm my-3 bg-primary text-white">
  <h1>my first bootstrap page</h1>
  <p>This is some text.</p>
</div> -->
<a routerLink = "/">Home</a>
<a routerLink = "/dynamic">Dynamic</a>
<a routerLink = "/customer/trieu/info">info customer</a>
<a routerLink = "/customer/trieu/login">login</a>
<a routerLink = "/customer">user</a>
<router-outlet></router-outlet>

<app-child (newItemEvent)="addItem($event)"></app-child>
<p>...{{evenEmitterValue}}...</p>
----------------------------
<app-dynamic-component></app-dynamic-component>

<div class="container p-4 bg-primary">
  <form [formGroup]="profileform" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName" class="form-label">FirstName</label>
      <input id="firstName" class="form-control" formControlName="firstName" />
    </div>
    <div>
      <label for="lastName" class="form-label">LastName</label>
      <input id="lastName" class="form-control" formControlName="lastName" />
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>
